<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Sites Captured to Date
        </caption>
        <thead>
        <th>Title</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Description</th>
        <th>Added By</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each geoSite}}
            <tr>
                <td>{{siteName}}</td>
                <td>{{lat}}</td>
                <td>{{long}}</td>
                <td>{{description}}</td>
                <td>{{geologist.firstName}} {{geologist.lastName}}</td>
                <td>
                    <a href="/delete-site/{{_id}}" class="uk-card uk-card-small uk-card-hover" >
                        <i class="fas far fa-trash fa-2x uk-position-relative uk-position-right " title="Delete Site" uk-tooltip></i>
                    </a>
                </td>
                <td>
                    <a href="/gallery/{{_id}}" class="uk-card uk-card-small uk-card-hover" >
                        <i class="fas far fa-images fa-2x" pos="top" title="open gallery" uk-tooltip></i>
                    </a>
                </td>
                <td>
                    <a href="/update-site/{{_id}}" class="uk-card uk-card-small uk-card-hover">
                        <i class="fas far fa-user-edit fa-2x" title="Edit Site" uk-tooltip></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>