<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Sites Captured to Date
        </caption>
        <thead>
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
        <th>Added By</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each geoSite}}
            <tr>
                <td>{{siteName}}</td>
                <td>{{location}}</td>
                <td>{{description}}</td>
                <td>{{geologist.firstName}} {{geologist.lastName}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="uk-container uk-padding-small">
        <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
            {{#each images}}
                {{> card}}
            {{/each}}
        </div>
    </div>
</div>