<form action="/update-site/{{site._id}}" method="POST">
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <label class="uk-form-label" for="form-stacked-text">Site Name</label>
            <input class="uk-input" type="string" name="siteName" value="{{site.siteName}}"/>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Latitude</label>
        <div class="uk-inline uk-width-1-1">
            <input class="uk-input" id="form-stacked-text" type="number" name="lat" value="{{site.lat}}" />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Longitude</label>
        <div class="uk-inline uk-width-1-1">
            <input class="uk-input" id="form-stacked-text" type="number" name="long" value="{{site.long}}" />
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Description</label>
        <div class="uk-inline uk-width-1-1">
            <input class="uk-input" id="form-stacked-text" type="string" name="description" value="{{site.description}}" />
        </div>
    </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Save</button>
        </div>
    </form>
    {{> error }}


